/Jiesen.Framework/Common/Jiesen.Common/obj
/Jiesen.Framework/Common/Jiesen.Common/bin
/Jiesen.Framework/Component/Jiesen.Cache/obj
/Jiesen.Framework/Component/Jiesen.Cache/bin
/Jiesen.Framework/Jiesen.ConsoleApp/bin
/Jiesen.Framework/Jiesen.ConsoleApp/obj
/Jiesen.Framework/Jiesen.Contract/obj
/Jiesen.Framework/Jiesen.Contract/bin
/Jiesen.Framework/Test/Jiesen.Cache.Test/obj
/Jiesen.Framework/Test/Jiesen.Cache.Test/bin
/Jiesen.Framework/.vs
