/Jiesen.Framework/Common/Jiesen.Common/obj
/Jiesen.Framework/Common/Jiesen.Common/bin
/Jiesen.Framework/Component/Jiesen.Cache/obj
/Jiesen.Framework/Component/Jiesen.Cache/bin
/Jiesen.Framework/Jiesen.ConsoleApp/bin
/Jiesen.Framework/Jiesen.ConsoleApp/obj
/Jiesen.Framework/Jiesen.Contract/obj
/Jiesen.Framework/Jiesen.Contract/bin
/Jiesen.Framework/Test/Jiesen.Cache.Test/obj
/Jiesen.Framework/Test/Jiesen.Cache.Test/bin
/Jiesen.Framework/.vs
/Jiesen.Framework/Component/Jiesen.DapperPoco/IExecute.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/IHideObjectMethods.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/IQuery.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/ITransaction.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/Jiesen.DapperPoco.csproj
/Jiesen.Framework/Component/Jiesen.DapperPoco/Paged.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/Sql.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/SqlBuilder.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/StringBuilderCache.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/Transaction.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/Adapters
/Jiesen.Framework/Component/Jiesen.DapperPoco/Dapper
/Jiesen.Framework/Component/Jiesen.DapperPoco/Internal
/Jiesen.Framework/Component/Jiesen.DapperPoco/Metadata
/Jiesen.Framework/Component/Jiesen.DapperPoco/Properties
/Jiesen.Framework/Component/Jiesen.DapperPoco/Utils
/Jiesen.Framework/Component/Jiesen.DapperPoco/DbContext.Async.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/DbContext.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/DbContextOptions.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/DbContextOptionsBuilder.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/EntitiesBuilder.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/IAlter.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco/IEntityBuilder.cs
/Jiesen.Framework/Component/Jiesen.DapperPoco
/Jiesen.Framework/Jiesen.EntityFramework/obj
