<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="nameOrConnectionString" connectionString="Data Source=.;Initial Catalog=Develop;User ID=sa;Password=sa1230.;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="" />
  </connectionStrings>
</configuration>